<template>
  <div class="hello">
    <h3>Raw Magic Surge Table</h3>
    <b-container>
      <b-card no-body>
        <b-tabs pills card>
          <b-tab title="Roll">
            <b-container>
              <div style="margin-bottom: 8px;">
                <b-row class="justify-content-md-center">
                  <b-col>
                    <b-button v-on:click="randomise">
                      Randomise Positive and Negative Surges
                    </b-button>
                  </b-col>
                </b-row>
                <b-row class="justify-content-md-center">
                  <b-col>
                    <p> -- or -- </p>
                  </b-col>
                </b-row>
                <b-row class="justify-content-md-center">
                  <b-col cols="4">
                    <b-form @submit="onSubmit">
                      <b-form-group 
                        label-cols="auto" 
                        label-size="sm" 
                        label="Positive Surge Roll:" 
                        label-for="positiveRoll" 
                        invalid-feedback="Enter a number between 1-20"
                        :state="positiveValidation"
                      >
                        <b-form-input id="positiveRoll" size="sm" type="number" v-model="form.positiveRoll" :state="positiveValidation" trim></b-form-input>
                      </b-form-group>
                      <b-form-group 
                        label-cols="auto" 
                        label-size="sm" 
                        label="Negative Surge Roll:" 
                        label-for="negativeRoll"
                        invalid-feedback="Enter a number between 1-20"
                        :state="negativeValidation"
                      >
                        <b-form-input id="negativeRoll" size="sm" type="number" v-model="form.negativeRoll" :state="negativeValidation" trim></b-form-input>
                      </b-form-group>
                      <b-button type="submit" variant="primary" :disabled="submissionValidation">
                        Submit
                      </b-button>
                    </b-form>
                  </b-col>
                </b-row>
              </div>
              <b-row v-show="surgeResults">
                <b-col>
                  <b-card>
                    <b-container>
                      <b-row>
                        <b-col>
                          <b-card header="Positive Surge">
                            <b-card-text>
                              {{ positiveSurgeText }}
                            </b-card-text>
                          </b-card>
                        </b-col>
                        <b-col>
                          <b-card header="Negative Surge">
                            <b-card-text>
                              {{ negativeSurgeText }}
                            </b-card-text>
                          </b-card>
                        </b-col>
                      </b-row>
                    </b-container>
                  </b-card>
                </b-col>
              </b-row>
            </b-container>
          </b-tab>
          <b-tab title="Full Table">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Positive Effect</th>
                  <th scope="col">Negative Effect</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(_, index) in positiveTable" v-bind:key="index">
                  <td class="full-surge-table-col" scope="row">
                    {{index+1}}
                  </td>
                  <td class="full-surge-table-col">
                    {{positiveTable[index]}}
                  </td>
                  <td class="full-surge-table-col">
                    {{negativeTable[index]}}
                  </td>
                </tr>
              </tbody>
            </table>
          </b-tab>
        </b-tabs>
      </b-card>
    </b-container>
    
  </div>
</template>

<script>
export default {
  name: 'RawMagicSurgeTable',
  data() {
    return {
      form: {
        positiveRoll: '',
        negativeRoll: '',
      },
      surgeResults: false,
      positiveSurgeText: "",  
      negativeSurgeText: "",
    }
     
  },
  computed: {
    positiveValidation() {
      return !isNaN(this.form.positiveRoll) && (Number(this.form.positiveRoll) <= 20) && (Number(this.form.positiveRoll) >= 1);
    },
    negativeValidation() {
      return !isNaN(this.form.negativeRoll) && (Number(this.form.negativeRoll) <= 20)  && (Number(this.form.negativeRoll) >= 1);
    },
    submissionValidation() {
      return !this.positiveValidation || !this.negativeValidation;
    }
  },
  methods: {
    randomise() {
      this.surgeResults = true;

      var positiveDice = Math.ceil(Math.random() * 20);
      var negativeDice = Math.ceil(Math.random() * 20);

      this.positiveSurgeText = positiveDice + ": " + this.positiveTable[positiveDice-1];
      this.negativeSurgeText = negativeDice + ": " + this.negativeTable[negativeDice-1];
    },
    onSubmit(evt) {

      evt.preventDefault();

      this.surgeResults = true;

      var positiveDice = Math.round(Number(this.form.positiveRoll));
      var negativeDice = Math.ceil(Number(this.form.negativeRoll));

      this.positiveSurgeText = positiveDice + ": " + this.positiveTable[positiveDice-1];
      this.negativeSurgeText = negativeDice + ": " + this.negativeTable[negativeDice-1];
    }
  },
  created() {
    this.positiveTable = [
      "No Effect",
      "The smell of your favorite food fills the air around you.",
      "Small plants gow to full bloom around your feet.",
      "Your clothes become cleaned, and faded dyes return to full brightness.",
      "Your body becomes sheathed in a thin layer of protective energy. You gain temporary hitpoints equal to the spell's level + your spellcasting ability modifier.",
      "You are innervated. Your movement speed increases by 15 feet until the end of your next turn.",
      "The energy of the spell flashes brightly. A target of your choice within 5 feet of the target of the spell must make a Constitution saving throw against your Spell Save DC or be blinded until the end of your next turn.",
      "The energy of the spell becomes raw and without defined form. If the spell deals damage, you can choose to change its damage type to force damage.",
      "With a surge of energy, you are able to shift your positions. You may immediately teleport to a point of your choice within 10 feet of you.",
      "Arcs of chaotic energy emanate from the spell. A random hostile creature within 15 feet of the target of the spell takes 1d8 lightning damage.",
      "Enemy attacks are pushed away. The next attack against you before the start of your next turn has disadvantage.",
      "The air around you crackles. Until the start of your next turn, if a creature within 30 feet of you hits you with an attack, you can use your reaction to deal 1d4 lightning damage to the attacker. This damage increases by 1d4 for every level of the spell above 1st.",
      "If you cast a spell before the end of your next turn, roll on this table and gain a positive effect.",
      "You become energetic. You gain the effects of the haste spell until the end of your next turn, ignoring the lethargy.",
      "The spell amplifies. If the spell deals damage, it deals an extra 1d6 damage to each target, increasing by an additional 1d6 for every level of the spell above 1st.",
      "If you take damage from a spell before the start of your next turn, you can roll 1d8 and reduce thge damage by the number rolled.",
      "The spell becomes unusually stable. If the spell requires concentration, you have advantage on constituution saving t hrows you make to maintain it.",
      "The spell seems to guide itself towards your targets. You have advantage on the attack roll, and targets have disadvantage on saving throws, for this spell.",
      "The spell is efficient, allowing you to siphon excess magic. You regain a 1st level spell slot if you have expended any. If you have the Font of Magic feature, you can choose to regain 2 sorcery points instead.",
      "Roll twice on this table and gain both effects; reroll 20s."
    ];
    this.negativeTable = [
      "Roll twice on this table and suffer both effects; reroll 1s.",
      "The spell requires additional energy to cast. You must expend a spell slot of 1st level or higher, or else the spell fails. If you have the Font of Magic feature, you can choose to expend 2 sorcery points instead.",
      "The spell becomes erratic and hard to ain. You have disadvantage on the attack roll, and targets have advantage on saving throws, for this spell.",
      "The spell becomes unstable, requiring extra effort to hold it in place. If the spell requires concentration, you have disadvantage on concertration checks for it.",
      "If you take damage from a spell before the start of your next turn, you take an additional 1d8 force damage.",
      "The spell bleeds away energy. If the spell deals damage, it deals 1d6 less damage to each target, decreasing by an additional 1d6 for every level of the spell above 1st.",
      "Electricity courses through your muscles, causing you to tense up. You suffer the effects of the slow spell unitl the end of your next turn.",
      "If you cast spell before the end of your next turn, roll on this table and suffer a negativce effect.",
      "Static energy builds up in your body, waiting for something to ignite it. Until the start of your next turn, if a creature hits you with an attack, you take an additional 1d4 lightning damage. This damage increases by 1d4 for every level of the spell above 1st.",
      "Enemy attacks are drawn to you. The next attack against you before the start of your next turn has advantage.",
      "Arcs of chaotic energy emanate from the spell. A random friendly creature within 15 feet of the target of the spell takes 1d8 lightning damage.",
      "Your position becomes unstable, and you blink side to side wildly. You immediately teleport to a random point within 10 feet of you.",
      "The spell fails to coalesce and pentrate defenses properly. If the spell deals damage, targets with resistance to the damage have immunity instead.",
      "A flash of light bursts straight into your face. You must make a Constitution saving throw against your Spell Save DC or be blinded until the end of your next turn.",
      "You are enervated. Your movement speed decreases by 15 feet until the end of your next turn.",
      "Some of the spell's energy backfires. You take force damage equal to the spell's level + your spellcasting ability modifier.",
      "You suffer a faint ringing in your ears for the next minute.",
      "Fractal, lightning-like scars appear on your hands and arms, which disappear when you receive any magical healing.",
      "You immediately become thirsty and hungry.",
      "No Effect"
    ];
    
  } 
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
a {
  color: #42b983;
}
.full-surge-table-col {
  padding: 8px;
}
</style>
