<template>
  <div id="app">
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand href="#">Thatdot7's DnD 5e resources</b-navbar-brand>
      
    </b-navbar>
    <RawMagicSurgeTable/>
  </div>
</template>

<script>
import RawMagicSurgeTable from './components/RawMagicSurgeTable'

export default {
  name: 'App',
  components: {
    RawMagicSurgeTable,
    
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
